@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

@font-face {
    font-family: 'Quartz';
    src: url('../quartz-font.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
     url('../quartz-font.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}


.font-roboto {
    font-family: 'Roboto', sans-serif;
}


.font-quartz {
  font-family: 'Quartz';
}

.font-thicc {
  font-family: 'Zen Dots', cursive;
  @apply !important;
}

@media (min-width: 1024px) {
  /* Scrollbar */
  /* width */
  ::-webkit-scrollbar {
    width: 17px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #1C2428;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(60, 77, 86);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(76, 98, 108);
  }
}


.main-btn {
  font-family: 'Roboto', sans-serif;
  @apply bg-blue-600 hover:opacity-70 px-4 py-1 rounded-sm text-gray-100 text-center;
}

